<div [ngStyle]="{
  'background': config.fondo,
  'padding': '20px',
  'border': '5px solid black',
  'border-color': config.color
}">

  <h1> Bienvenido al {{ title }} </h1>
  <br/>
  <p>
   {{descripcion}}
  </p>

  <hr/>
    <nav>
      <a [routerLink] = "['/home']" [routerLinkActive]="['active']"> Home </a>
      &nbsp;   <!--Crea espacio-->
      <a [routerLink] = "['/zapatillas']" [routerLinkActive]="['active']" > Zapatillas </a>
      &nbsp;   <!--Crea espacio-->
      <a [routerLink] = "['/curso']" [routerLinkActive]="['active']"> Cursos </a>
      &nbsp;   <!--Crea espacio-->
      <a [routerLink] = "['/videojuego']" [routerLinkActive]="['active']"> Videojuegos </a>
    </nav>
  <hr/>
  
  <!--
  <button (click) = "ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click) = "ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>

  <videojuego *ngIf="mostrar_videojuegos"></videojuego>
  
  <cursos></cursos>  
  <zapatilla></zapatilla>
-->

  <router-outlet></router-outlet>    <!-- Carga los componentes del path router que se esten utilzando-->

</div>